{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure want to delete "{{order}}" ?</p>
            <form method="POST" action="{% url 'remove_order' order.id %}">
                {% csrf_token %}
                
                <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                <input type = "submit" class = "btn btn-danger" value="Confirm" />
            </form>
            
        </div>
    </div>
</div>
{% endblock %}